#get-linhas {
  font-size: 4rem;
}

body{
  background: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#jogo-main {
  height: 400px;
  margin: 0px auto;
  padding: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4545);
}

#letra {
  text-align: center;
  width: 100px;
  padding: 20px;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0px auto;
}

@font-face {
  font-family: 'Amatica SC';
  font-style: oblique;
  font-weight: 900;
  src: local('Amatica SC'), url(https://fonts.gstatic.com/s/amaticasc/v1/r4IyjqPgTL10SERuDuUzpAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
}


#titulo-jogo {
  font-family: "Amatica SC";
}
#digite-uma-letra {
  font-family: "Amatica SC";
}

#esquerdo {
  float: left;
  height: 100px;
}

.direita {
  /* border: 1px solid lime; */
  display: grid;
  text-align: center;
}

#erros {
  font-size: 4rem;
}
span {
  background-color: rgba(0, 0, 0, 0.4545);
  color: white;
  width: 60px;
  height: 60px;
  margin: 2px;
  text-align: center;
  font-size: 50px;
  line-height: 110%;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0px black, 0px 0px 2px 0px red;
}

#get-linhas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dicas{
  text-align: left;
  font-size:2rem;
  background:rgba(0, 0, 0, 0.4545);
  width: 400px !important;
  color:white;
  padding:10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8545);
}